[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
.vs/
.idea/
# IDE / solution files
*.sln
*.csproj
*.suo
*.user
*.unityproj
.vs/
.vscode/
.vsconfig
*.DotSettings.user
